<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Dispenser</title>
     <link rel="stylesheet" href="/static/loading.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <div class="scene">
  <div class="shadow"></div>
  <div class="jumper">
    <div class="spinner">
      <div class="scaler">
        <div class="loader">
          <div class="cuboid">
            <div class="cuboid__side"></div>
            <div class="cuboid__side"></div>
            <div class="cuboid__side"></div>
            <div class="cuboid__side"></div>
            <div class="cuboid__side"></div>
            <div class="cuboid__side"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<script>
function loadPage() {
window.location.href = "/checkUser";
}
window.onload = function() {
setTimeout(loadPage, 1000); // Delay of 5 seconds (5000 milliseconds)
}
</script>
</body>
</html>